Package: com.yourcompany.ambackuphelper
Name: AMBackupHelper
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds sorting and sequential backup restoration to Apps Manager.
Maintainer: Antigravity
Author: Antigravity
Section: Tweaks
